<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Kaiser & Dicke{% endblock %}

{% block body %}
<div class="container-fluid dsnone" style="background-color: #FEF2DA;height: 500px" >
 <div class="row project-row" style="height: 500px;">
     <div class="domino2-50" data-aos="zoom-in" style="height: 510px;">
         <img src="{% static "denkmalgeschutztelofts/images/kaiser3.png" %}" class="img-fluid project-image-long" style="margin-top: 10px;padding-top: 10px">
     </div>
     <div class="domino1-50 background-grey" >
         <h2 class="table-hdr">Highlights<button type="submit" style="margin-left: 30px;background-color: #c9a877;color: #fff;font-size: 15px;padding: 7px;border-radius: 3%"  onclick="window.location.href = '/virtual-tour-chapter-1/';">
                Virtual Tour  <i class="bx bxs-mask" style="color: #000;font-size: large"></i>
            </button>
         </h2>
         <table class="table borderless" >
             <hr class="hr-line2" data-aos="fade-up"/>
             <thead>
             </thead>
             <tbody>
                <tr data-aos="fade-up" >
                                     <th scope="row">Wohneinheiten:</th>
                                     <td>32</td>
                </tr>
                <tr data-aos="fade-up" data-aos-delay="100">
                                     <th scope="row">Flächen:</th>
                                     <td>45-116 m²</td>
                </tr>
                <tr data-aos="fade-up" data-aos-delay="200">
                                     <th scope="row">Abschreibung:</th>
                                     <td>75%</td>
                </tr>
                <tr data-aos="fade-up" data-aos-delay="400">
                                    <th scope="row">KfW Tilgungszuschuss:</th>
                                    <td>25%</td>
                </tr>
                <tr data-aos="fade-up" data-aos-delay="500">
                                    <th scope="row">KfW-Effizienzhaus Förderkredit bis zu:</th>
                                    <td>120.000</td>
                </tr>
                <tr data-aos="fade-up" data-aos-delay="300">
                                     <th scope="row">Kaufpreise:</th>
                                     <td>161.249 - 415.749 €</td>
                </tr>
             </tbody>
         </table>
           <div class="container-contact100-form-btn-long project-button" data-aos="fade-up" data-aos-delay="400">
             <button type="submit" class="contact100-form-btn" onclick="window.location.href = '/angebot-anfordern/kaiser-und-dicke/';">
                 Jetzt Anfragen
             </button>

          </div>
     </div>
 </div>
</div>
<div class="container-fluid dsnone2 pad-zero sticky-nav-margin">
        
  <img src="{% static "denkmalgeschutztelofts/images/kaiser3.png" %}" class="img-fluid slider-image">
  
</div>
<div class="dsnone2">
    <div class="Rtable Rtable--2cols">

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">Wohneinheiten:</div>
        <div class="Rtable-cell" style="text-align: right">32</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">Flächen:</div>
        <div class="Rtable-cell" style="text-align: right">45-116 m²</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">Abschreibung:</div>
        <div class="Rtable-cell" style="text-align: right">75%</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">KfW Tilgungszuschuss:</div>
        <div class="Rtable-cell" style="text-align: right; display: flex; align-items: center; justify-content: flex-end">25%</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">KfW-Effizienzhaus Förderkredit bis zu:</div>
        <div class="Rtable-cell" style="text-align: right; display: flex; align-items: center; justify-content: flex-end">120.000</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">Kaufpreise:</div>
        <div class="Rtable-cell" style="text-align: right; font-size: 17px">161.249 - 415.749 €</div>

    </div>
    <div class="row" style="margin-bottom: 2em">
        <div class="col-6" style="padding: 0">
            <button type="submit" style="min-width: 140px;margin-left: 38px;margin-top: 2em;padding: 0;" class="contact100-form-btn" onclick="window.location.href = '/angebot-anfordern/kaiser-und-dicke/';">
                 Jetzt Anfragen
            </button>
        </div>
        <div class="col-6" style="padding: 0">
            <button type="submit" style="min-width: 140px;background-color: #fef2da;color: #000; margin: 2em 0 0 25px; padding: 0; border: 1px solid #000; border-radius: 2px" class="contact100-form-btn btn-none" onclick="window.location.href = '/virtual-tour-chapter-1';">
                Virtual Tour
            </button>
        </div>
    </div>
</div>

<div class="parallax " style="height: 350px;background-image: url('{% static "denkmalgeschutztelofts/images/image-16-brightness.png" %}');">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <img src="{% static "denkmalgeschutztelofts/images/kd-logo-2.png" %}" class="img-fluid parallax-image1">
          </div>
      </div>
  </div>
</div>

 <div class="row cantsee" style="padding: 0 0 0 0">
    <div class="domino8" style="padding: 0 0 0 3em;" data-aos="fade-left">
      <div class="row fluid-ground-img">
        <div class="col">
          <h1 class="video-texts"><span style="color: #c9a978"><br>Der Beginn einer langen Geschichte:</span>
            <br>
            In Wuppertal-Barmen wurde am 02. Juni 1869 die Kaiser & Dicke Textilfabrik gegründet.
          </h1>
          <br><br>
          <p>
            Schon bald verließen allerlei gewebte Bänder höchster Qualität die für ihre Zeit hochmoderne Textilfabrik. Schnürriemen und Gummilitzen, später auch Borden, Kordeln und Hutbänder wurden produziert und für ihre hervorragende Qualität im Jahr 1900 mit der Goldmedaille der Weltausstellung ausgezeichnet.
          </p>
        </div>
        <div class="col" style="display: flex;
  justify-content: center;
  align-items: center;">
          <h1 class="video-texts blk-response" style="color: #fff">
            Aber alles hat ein Ende:
2018 gingen die Lichter nach rund 150 Jahren aus. <br><br>

Erst einmal.
          </h1>
        </div>
      </div>
    </div>
  <div class="domino4" style="padding: 0;" data-aos="fade-right">
    <iframe height="100%" width="100%" src="https://www.youtube.com/embed/Mu_lGmyYUHY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
  </div>
</div>
<div class="container-j">
  <h1 class="video-texts"><span style="color: #c9a978"><br>Der Beginn einer langen Geschichte:</span>
      <br>
      In Wuppertal-Barmen wurde am 02. Juni 1869 die Kaiser & Dicke Textilfabrik gegründet.
  </h1>
  <br><br>
  <p>
    Schon bald verließen allerlei gewebte Bänder höchster Qualität die für ihre Zeit hochmoderne Textilfabrik. Schnürriemen und Gummilitzen, später auch Borden, Kordeln und Hutbänder wurden produziert und für ihre hervorragende Qualität im Jahr 1900 mit der Goldmedaille der Weltausstellung ausgezeichnet.
  </p>
</div>
<div class="container-j" style="background-color: #C2A764; padding: 1em 1em 1em">
  <h1 class="video-texts blk-response" style="color: #fff">
            Aber alles hat ein Ende:
2018 gingen die Lichter nach rund 150 Jahren aus. <br><br>

Erst einmal.
</div>
<div class="container-j" style="padding: 0; height: 190px">
  <iframe height="100%" width="100%" src="https://www.youtube.com/embed/Mu_lGmyYUHY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
</div>
<!-- <section id="about" class="about">
  <div class="container">
    <div class="row about-row">
      <div class="col-xl-6 col-lg-7 " data-aos="fade-right">
        <img src='{% static "denkmalgeschutztelofts/images/image--024.jpg" %}' style="height: 450px;object-fit: cover;" class="img-fluid"
          alt="">
      </div>
      <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0 ">
        <h3 data-aos="fade-up">Arbeiten. Leben. Begegnen.</h3>
        <hr class="hr-line3" data-aos="fade-up" />

        <p data-aos="fade-up" style="padding-right: 30px;">
          Auf fast 9000 qm Fläche wird die renaissance Immobilien und Beteiligungen AG eine Vision umsetzen, die einem neuen Zeitalter den Raum bietet:
        </p>
        <p data-aos="fade-up" style="padding-right: 30px;">
          Exklusive Lofts, Wohnateliers
      für Künstler, Co-Learning-Büros für Studentinnen und Studenten und Büros für Start-ups. <br>
      Kern ist ein Nachbarschaftscafé als Treffpunkt für Bewohner, Beschäftigte
      und Nachbarn.
      <br>
      Wenn die Geschichte von Kaiser & Dicke nach 150 Jahren ihren zweiten Frühling erlebt, wird der neue Lebensraum auch ein Musterbeispiel für Nachhaltigkeit sein.
        </p>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="about" class="about">
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
      data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
      data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>
</div> -->

<!-- <section id="about" class="about">
  <div class="container">
    <div class="row about-row">
      <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0 ">
        <h3 data-aos="fade-up">Standort Wuppertal</h3>
        <hr class="hr-line3" data-aos="fade-up" />

        <p data-aos="fade-up" style="padding-right: 30px;">
          Die liebenswerte Schwebebahn-Stadt im Grünen mit großem Erholungswert und Cityflair sowie guter Anbindung an
          Rheinschiene und Ruhrgebiet entwickelt sich zu einem Investitionsmagneten.
        </p>
        <p data-aos="fade-up" style="padding-right: 30px;">
          Wuppertal ist seit jeher das bedeutendste Industrie-, Wirtschafts- und Bildungszentrum der Region und steht
          für Innovation, Fortschritt und Unternehmertum. Und auch heute erfindet man sich hier immer wieder neu, alles
          ist  in Bewegung und macht sich auf in Richtung Zukunft. Die grüne Stadt auf den Hügeln verbindet attraktives
          Wohnen und Arbeiten mit hohem Freizeit und Erholungswert. Das Kultur- und Bildungsangebot ist hervorragend,
          ebenso wie die Infrastruktur mit vielen attraktiven Geschäften, Cafés, Restaurants und dem gut ausgebauten
          ÖPNV. Durch die zentrale Lage im Herzen von NRW ist Wuppertal sehr gut an andere Städte angebunden.
        </p>
      </div>
      <div class="col-xl-6 col-lg-7 " data-aos="fade-right">
        <img src='{% static "denkmalgeschutztelofts/images/wuppertal1.jpg" %}' style="height: 450px;" class="img-fluid"
          alt="">
      </div>
    </div>


  </div>
</section> -->
<div class="container exklusivitat" data-aos="fade-up">
  <div class="row response-row108 equalizer-row">
    <div class="domino4">
      <h3 data-aos="fade-up">Standort Wuppertal</h3>
      <hr class="hr-line6" data-aos="fade-up"/>
      <p data-aos="fade-up">
        Die liebenswerte Schwebebahn-Stadt im Grünen mit großem Erholungswert und Cityflair sowie guter Anbindung an
        Rheinschiene und Ruhrgebiet entwickelt sich zu einem Investitionsmagneten.
      </p>
      <p data-aos="fade-up">
        Wuppertal ist seit jeher das bedeutendste Industrie-, Wirtschafts- und Bildungszentrum der Region und steht
        für Innovation, Fortschritt und Unternehmertum. Und auch heute erfindet man sich hier immer wieder neu, alles
        ist  in Bewegung und macht sich auf in Richtung Zukunft. Die grüne Stadt auf den Hügeln verbindet attraktives
        Wohnen und Arbeiten mit hohem Freizeit- und Erholungswert. Das Kultur- und Bildungsangebot ist hervorragend,
        ebenso wie die Infrastruktur mit vielen attraktiven Geschäften, Cafés, Restaurants und dem gut ausgebauten
        ÖPNV. Durch die zentrale Lage im Herzen von NRW ist Wuppertal sehr gut an andere Städte angebunden.
      </p>
    </div>
    <div class="domino3" data-aos="fade-right">
      <img src='{% static "denkmalgeschutztelofts/images/wuppertal1.jpg" %}' class="img-fluid info-img2 responsenone">
    </div>
  </div>

</div>
<div class="container exklusivitat" data-aos="fade-up">
  <div class="row response-row5 equalizer-row">
    <div class="domino3" data-aos="fade-right">
      <img src='{% static "denkmalgeschutztelofts/images/image--024.jpg" %}' class="img-fluid info-img responsenone" >
    </div>
    <div class="domino4">
      <h3 data-aos="fade-up">Arbeiten. Leben. Begegnen.</h3>
      <hr class="hr-line7" data-aos="fade-up"/>
      <p data-aos="fade-up">
        Auf fast 9000 qm Fläche wird die renaissance Immobilien und Beteiligungen AG eine Vision umsetzen, die einem neuen Zeitalter den Raum bietet:
      </p>
      <p data-aos="fade-up">
        Exklusive Lofts, Wohnateliers
      für Künstler, Co-Learning-Büros für Studentinnen und Studenten und Büros für Start-ups. <br>
      Kern ist ein Nachbarschaftscafé als Treffpunkt für Bewohner, Beschäftigte
      und Nachbarn.
      <br>
      Wenn die Geschichte von Kaiser & Dicke nach 150 Jahren ihren zweiten Frühling erlebt, wird der neue Lebensraum auch ein Musterbeispiel für Nachhaltigkeit sein.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid dsnone2 pad-zero">

 <img src="{% static "denkmalgeschutztelofts/images/wup21.jpg" %}" class="img-fluid slider-image">

</div>
<div class="dsnone2">
    <div class="Rtable Rtable--2cols">

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">WUPPERTAL</div>
        <div class="Rtable-cell" style="text-align: right;font-weight: bolder">EINWOHNER</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">2015</div>
        <div class="Rtable-cell" style="text-align: right">350.046</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">2016</div>
        <div class="Rtable-cell" style="text-align: right">355.300</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">2017</div>
        <div class="Rtable-cell" style="text-align: right; font-size: 16px">360.000</div>

        <div class="Rtable-cell" style="text-align: left;font-weight: bolder">BIS 2020</div>
        <div class="Rtable-cell" style="text-align: right; font-size: 16px">363.000</div>
    </div>
    <div class="row" style="margin-bottom: 2em;">

        <button type="submit" style="min-width: 140px;margin: 2em auto;padding: 0;" class="contact100-form-btn" onclick="window.location.href = '/angebot-anfordern/kaiser-und-dicke/';">
             Mehr Erfahren
        </button>

    </div>
</div>
<div class="carousel-inner dsnone">
  <div class="row project-row" style="height: 400px;">
    <div class="domino1" style="height: 400px;">
      <img src="{% static "denkmalgeschutztelofts/images/wup21.jpg" %}" class="img-fluid project-image3">
    </div>
    <div class="domino2 background-grey">
      <h2 class="table-tittle" style="margin-left: 40px">Wuppertal Wächst
      </h2>
      <table class="table" style="margin-top: 30px; text-align: center;">
        <hr class="hr-line8" data-aos="fade-up" />
        <thead>

        </thead>
        <tbody>
          <tr data-aos="fade-up" data-aos-delay="100">
            <th scope="col">WUPPERTAL</th>
            <th scope="col">2015</th>
            <th scope="col">2016</th>
            <th scope="col">2017</th>
            <th scope="col">BIS 2020</th>
          </tr>
          <tr data-aos="fade-up" data-aos-delay="250">
            <th>EINWOHNER</th>
            <td>350.046</td>
            <td>355.300</td>
            <td>360.000</td>
            <td>363.000</td>
          </tr>
        </tbody>
      </table>
      <div class="container-contact100-form-btn project-button" data-aos="fade-up" data-aos-delay="400">
        <button type="submit" class="contact100-form-btn"
          onclick="window.location.href = '/angebot-anfordern/kaiser-und-dicke/';">
          Mehr erfahren
        </button>
      </div>
    </div>
  </div>
</div>


<div style="width: 100%;height: 350px;"><iframe width="100%" height="350px" frameborder="0" scrolling="no"
    marginheight="0" marginwidth="0"
    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=de&amp;q=Gewerbeschulstra%C3%9Fe%2074,%2042289%20Wuppertal,%20Almanya+(Kaiser%20dicke)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
</div>

<div class="container-fluid dsnone2 pad-zero sticky-nav-margin">

  <img src="{% static "denkmalgeschutztelofts/images/mayor2.jpeg" %}" class="img-fluid slider-image">

</div>
<div class="testimonial2 py-5" style="background-color: #f2f2f2">
  <div class="container">
    <div class="heading">
    </div>
    <div class="owl-carousel owl-theme testi2 mt-4">
      <div class="item">
        <div class="row position-relative">
          <div class="col-lg-6 col-md-6 align-self-center">
            <p class="testimonial-title custom-lineheight1" data-aos="fade-up">
              „Dass diese Fabrik nun revitalisiert wird, kann uns in Wuppertal natürlich freuen – ein prägendes
              Gebäudeensemble wird erhalten und einer neuen, interessanten Nutzung zugeführt.“

            </p>
            <h5 class="mt-4 gold" style="color: #c9a877" data-aos="fade-up" data-aos-delay="350">Andreas Mucke</h5>
            <h6 class="subtitle font-weight-normal" data-aos="fade-up" data-aos-delay="1000">ehemaliger Oberbürgermeister, Wuppertal

</h6>
          </div>
          <div class="col-lg-6 col-md-6 image-thumb d-none d-md-block">
            <img src="{% static "denkmalgeschutztelofts/images/mayor2.jpeg" %}" alt="wrapkit"
              class="testimonial-image img-fluid" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row ">
    <div class="domino4" style="padding: 0 3em;">
      <div class="row">
          <div class="container-g" style="text-align: center;">
            <img src="{% static 'denkmalgeschutztelofts/images/renaissance-ag.png' %}" class="img-responsive ren-logo"
             >
          </div>
          <div class="container-g">
            <p data-aos="fade-up">
              <strong>Die renaissance Immobilien & Beteiligungen AG restauriert und vermarktet bevorzugt Objekte aus der
                Zeit
                um das 19. Jahrhundert.</strong> Bei der Sanierung greift die Gesellschaft auf die Erfahrung von über 1000
              Wohnungen zurück-vielfach denkmalgeschützt.
            </p>
            <p data-aos="fade-up">
              <strong>Der Firmenname renaissance AG ist da bei kein Zufall,</strong> sondern Reminiszenz an die Überzeugung,
              dass auch im 21. Jahrhundert die Immobilie eine der besten Vermögensanlagen ist und selbst in volatilen Zeiten
              in der Regel wertstabil bleibt.
            </p>
          </div>
      </div>
    </div>
  <div class="domino4" style="padding: 0;" data-aos="fade-right">
    <div id="carouselExampleControls21" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner desktop-height">
        <div class="carousel-item height-scale active">
          <img class="d-block w-100 desktop-img2" src="/static/denkmalgeschutztelofts/images/slider4.png" style="object-fit: contain;">
        </div>
        <div class="carousel-item height-scale">
          <img class="d-block w-100 desktop-img2" src="/static/denkmalgeschutztelofts/images/slider5.png" style="object-fit: contain;">
        </div>
      </div>
      <a style="visibility: hidden;" class="carousel-control-prev" style="mix-blend-mode: difference;" href="#carouselExampleControls21" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a style="visibility: hidden;" class="carousel-control-next" style="mix-blend-mode: difference;" href="#carouselExampleControls21" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- <div class="container-h" style="border-top: 40px solid #f2f2f2;">
  <div class="row p-marg">
    <div class="col-md-6 txt-pad">
      <img src="{% static 'denkmalgeschutztelofts/images/renaissance-ag.png' %}" class="img-responsive"
        style="margin: 0 auto 20px; display: block;max-height: 220px;">
      <p>
        <strong>Die renaissance Immobilien & Beteiligungen AG restauriert und vermarktet bevorzugt Objekte aus der Zeit
          um das 19. Jahrhundert.</strong> Bei der Sanierung greift die Gesellschaft auf die Erfahrung von über 1000
        Wohnungen zurück-vielfach denkmalgeschützt.
      </p>

      <p>
        <strong>Der Firmenname renaissance AG ist da bei kein Zufall,</strong> sondern Reminiszenz an die Überzeugung,
        dass auch im 21. Jahrhundert die Immobilie eine der besten Vermögensanlagen ist und selbst in volatilen Zeiten
        in der Regel wertstabil bleibt.
      </p>


    </div>
    <div class="col-md-6 r-pad">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item height-scale active">
            <img class="d-block w-100" src="/static/denkmalgeschutztelofts/images/slider4.png">
          </div>
          <div class="carousel-item height-scale">
            <img class="d-block w-100 img-scale" src="/static/denkmalgeschutztelofts/images/slider5.png"
              style="height: 250px;object-fit: contain;">
          </div>
        </div>
        <a style="visibility: hidden;" class="carousel-control-prev" href="#carouselExampleControls" role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a style="visibility: hidden;" class="carousel-control-next" href="#carouselExampleControls" role="button"
          data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
</div> -->

<div class="phone-call">
  <a href="tel:080016803398">
    <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen"
      title="Jetzt Anrufen">
  </a>
</div>


<div class="parallax background-creme height-setting">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
              <h2 class=" domino-title-center color_gold" data-aos="fade-up" >Lesen Sie jetzt, wie aus der bewegten Geschichte der altehrwürdigen Textilfabrik in Wuppertal eine Vision für die Zukunft des Viertels, der Stadt und der Region entsteht.</h2>
          </div>
      </div>
  </div>
</div>


<div class="container-h" style="border-top: 0px solid #f2f2f2; background-color: #f2f2f2;">

  <div class="wrap-contact100">
    <form id="formk" class="contact100-form validate-form pad-fix width-design" method="POST">
      {% csrf_token %}

      <label style="min-height: 40px; font-size: 14px; margin-top: 0;" class="label-input100"
        for="first-name">Vollständiger Name *</label>
      <div class="wrap-input100 rs1-wrap-input100 validate-input" style="width: 50%;"
        data-validate="Vorname ist erforderlich">
        <input style="height: 40px; font-size: 15px;" id="first_name" class="input100" type="text" name="first_name"
          placeholder="Vorname" {% if form.is_bound %}value="{{ form.first_name.value }}" {% endif %} required>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100 validate-input" style="width: 50%;"
        data-validate="Nachname ist erforderlich">
        <input style="height: 40px; font-size: 15px;" id="last_name" class="input100" type="text" name="last_name"
          placeholder="Nachname" {% if form.is_bound %}value="{{ form.last_name.value }}" {% endif %} required>
        <span class="focus-input100"></span>
      </div>

      <label style="min-height: 40px; font-size: 14px;" class="label-input100" for="email">IHRE E-MAIL EINGEBEN
        *</label>
      <div class="wrap-input100 validate-input" data-validate="Gültige E-Mail ist erforderlich: ex@abc.xyz">
        <input style="height: 40px; font-size: 15px;" id="email" class="input100" type="email" name="email"
          placeholder="E-Mail-Adresse" value="{{ email }}" required>
        <span class="focus-input100"></span>
      </div>

      <label style="min-height: 40px; font-size: 14px;" class="label-input100" for="telephonenummer">IHRE
        TELEFONNUMMER*</label>
      <div class="wrap-input100 validate-input">
        <input style="height: 40px; font-size: 15px;" id="id_phone_number" data-inputmask="'mask': '99999-9999999'" class="input100" type="tel"
          name="telephonenummer"
          {% if form.is_bound %}value="{{ form.telephonenummer.value }}" {% endif %} required>
        <span class="focus-input100"></span>
      </div>
      <ul style="padding: 0;">
        <li>
          <input style="float: left;" id="c1" type="checkbox" required>
          <div style="margin: 1em 0 0 2em; font-family: HelveticaNeue-Light, sans-serif;
                        font-size: 14px; padding-left: 20px; font-weight: 500;">
            Hiermit willige ich in die dafür erforderliche Erhebung, Speicherung, Verarbeitung und Nutzung meiner
            personenbezogenen Daten ein. Die Daten werden nicht an unbeteiligte Dritte weitergegeben und ich habe ein
            Recht auf Einsicht. Diese Erklärung kann ich jederzeit per E-Mail an <span
              style="color: #c9a877;">info@denkmalgeschütztelofts.de</span> widerrufen.
            Ich akzeptiere die <span style="cursor: pointer;color: #c9a877;"
              onclick="window.location.href = '/datenschutz';">Datenschutzerklärung</span>. </div>
        </li>
      </ul>
      <div class="container-contact100-form-btn" style="padding-top: 35px;">
        <button class="contact100-form-btn" type="submit">
          PDF herunterladen
        </button>
      </div>
    </form>

    <div class="contact100-more flex-col-c-m dnone-responsive" style="margin-top: 1.9em; width: 41%; max-height: 30em;
                background-image: url('{% static "denkmalgeschutztelofts/images/pdf_img.png" %}')">
    </div>
  </div>

</div>


<!-- Success Modal -->
<div id="success-modal" class="modal hide fade">
  <div class="modal-dialog modal-confirm modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>
      <div class="modal-content__body text-center">
        <h4>Vielen Dank für Ihr Interesse!</h4>
        <p style="text-align: center">Wir haben Ihre Reservierung erhalten. Bitte überprüfen
          Sie Ihre Mailbox für
          weitere Informationen.</p>
        <a href="{% url "denkmalgeschutztelofts:index" %}" target="_parent">
          <button class="btn btn-success">
            <div class="text-center">
              <span>Zurück zur </span><span>Startseite</span><span><i class="material-icons">&#xE5C8;</i></span>
            </div>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>




{% if successful_submit %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#success-modal").modal('show');
  });
</script>
{% endif %}
 <script src="/static/denkmalgeschutztelofts/js/intlTelInput.js"></script>
    <script>
        var input = document.querySelector("#id_phone_number");
        window.intlTelInput(input, {
            hiddenInput: "full_id_phone_number",
            utilsScript: "../../static/denkmalgeschutztelofts/js/utils.js" // just for formatting/placeholders etc
        });
    </script>
    <script>
        $(document).ready(function(){
  $(":input").inputmask();
  or
  Inputmask().mask(document.querySelectorAll("input"));
});
    </script>
<script src="{% static "denkmalgeschutztelofts/vendor/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/countdowntime/countdowntime.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/animsition/js/animsition.min.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/bootstrap/js/popper.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "denkmalgeschutztelofts/vendor/select2/select2.min.js" %}"></script>


{% endblock %}