<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmalgeschützte Lofts als Kapitalanlage | Ein Meisterwerk des modernen Lebens{% endblock %}

{% block body %}


    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <div class="dsnone">
        <div   style="padding: 100px;text-align: center;background-color: #142747;margin-top: -27px"  >
              <iframe width="61.80%" height="500px" style="border-radius: 1%" data-aos="fade-in" data-aos-delay="500" frameborder="0" src="https://momento360.com/e/u/99e5898e9f324c57baaeda6e14245f3c?utm_campaign=embed&utm_source=other&heading=-288.51&pitch=-8.56&field-of-view=78.07&size=medium"></iframe>
          </div>

    </div>
    <div class="container-fluid pad-zero dsnone2 sticky-nav-margin">
        <iframe width="100%" style="padding: 2em; background-color: #142747" height="310px" frameborder="0" src="https://momento360.com/e/u/99e5898e9f324c57baaeda6e14245f3c?utm_campaign=embed&utm_source=other&heading=-288.51&pitch=-8.56&field-of-view=78.07&size=medium"></iframe>
    </div>
        <div class="parallax background-white height-setting2 dsnone" style="margin: 150px">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class=" chapter1 text-black" data-aos="fade-in" data-aos-delay="500" >Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
                       <br> <span data-aos="fade-in" data-aos-delay="1000" style="color: #c9a877">I</span>  <br>
                            <span data-aos="fade-in" data-aos-delay="1500" >lofts als kapitalanlage</span>

                        </h2>
                    </div>
                </div>
            </div>
        </div>
<div class="parallax height-setting15 dsnone2" style="background-color: white">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
              Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
              <br>
              <span data-aos="fade-in" data-aos-delay="1000" style="color: #c9a877">I</span>
              <br>
              <span data-aos="fade-in" data-aos-delay="1500" >lofts als kapitalanlage</span>
          </div>
      </div>
  </div>
</div>

    <div class="dsnone">
        <div   style="padding: 80px;text-align: center;background-color: #036A3F" >
              <iframe width="61.80%" height="450px" style="border-radius: 1%" data-aos="fade-in" data-aos-delay="500" frameborder="0" src="https://momento360.com/e/u/227c1746ac354dc683f9b4a098bd6aa8?utm_campaign=embed&utm_source=other&heading=-15.38&pitch=-11.82&field-of-view=70.35&size=medium"></iframe>
          </div>
    </div>
    <div class="container-fluid pad-zero dsnone2">
        <iframe width="100%" style="padding: 2em; background-color: #036A3F" height="310px" frameborder="0" src="https://momento360.com/e/u/227c1746ac354dc683f9b4a098bd6aa8?utm_campaign=embed&utm_source=other&heading=-15.38&pitch=-11.82&field-of-view=70.35&size=medium"></iframe>
    </div>
    <div class="parallax bckgrnd-white height-setting2 dsnone" style="margin: 130px">
            <div class="container h-100 ">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class=" chapter1 text-black" data-aos="fade-in" data-aos-delay="500" >Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
                            </h2>
                    </div>
                </div>
            </div>
        </div>
<div class="parallax height-setting15 dsnone2" style="background-color: white">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
              Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
              <br>
              <span data-aos="fade-in" data-aos-delay="1000" style="color: #c9a877">I</span>
              <br>
              <span data-aos="fade-in" data-aos-delay="1500" >lofts als kapitalanlage</span>
          </div>
      </div>
  </div>
</div>
    <div class="dsnone">
        <div   style="padding: 80px;text-align: center;background-color: #142747" >
              <iframe width="61.80%" height="450px"  style="border-radius: 1%" data-aos="fade-in" data-aos-delay="500" frameborder="0" src="https://momento360.com/e/u/0e6aa6d1d2734bb2b4efe34a1c478337?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium"></iframe>
          </div>

    </div>
    <div class="container-fluid pad-zero dsnone2">
        <iframe width="100%" style="padding: 2em; background-color: #142747" height="310px" frameborder="0" src="https://momento360.com/e/u/0e6aa6d1d2734bb2b4efe34a1c478337?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75&size=medium"></iframe>
    </div>
    <div class="parallax bckgrnd-white height-setting2 dsnone" style="margin: 130px;">
            <div class="container h-100 ">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center" >
                       <h2 class=" chapter1 text-black" data-aos="fade-in" data-aos-delay="500" >Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
                           <br> <br> <br>
                           |
                            </h2>
                        <button type="submit"  data-aos="fade-in" data-aos-delay="1000" class="contact100-form-btn vt-button" onclick="window.location.href = '/virtual-tour-chapter-2/';">
                            nächstes Kapitel
                        </button>
                    </div>
                </div>
            </div>
    </div>

    <div class="parallax height-setting dsnone2" style="background-color: white">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
              Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
              <br>
              <span data-aos="fade-in" data-aos-delay="1000" style="color: #c9a877">I</span>
              <br>
              <span data-aos="fade-in" data-aos-delay="1000" >lofts als kapitalanlage</span>
              <button type="submit"  data-aos="fade-in" data-aos-delay="1000" class="contact100-form-btn vt-button" onclick="window.location.href = '/virtual-tour-chapter-2/';">
                            nächstes Kapitel
                        </button>
          </div>
      </div>
  </div>
</div>
    
    
    

{% endblock %}